body{
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-weight: 700;
    font-size: 56px;
    color:#75B79E;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
.topo{
    width: 100%;
    display: flex;
    margin-top: 40px;
    justify-content: center;
}
.mesa{
    width: 100%;
    margin-top: 47px;
    display: flex;
    justify-content: center;
}
.tabulheiro{
    max-width: 1060px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.carta{
    width: 117px;
    height: 146px;
    
    border-radius: 5px;
    margin: 17px;
    position:relative;
}
.face{
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    display: flex;
    position:absolute;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: all .5s;
    border: 1px solid #99CEA8;
    transform-style: preserve-3d;
}
.carta-certa{
    background-color: aqua;
}
.tras{
    transform: rotateY(180deg);
}

.girar-tras{
    transform: rotateY(0deg);
}

.girar-frente{
    transform: rotateY(-180deg);
}


.carta img{
    width: 100px;
}
.esconder{
    display: none;
}

.temporizador{
    position: fixed;
    top: 7px;
    right: 7px;
    background-color: rgba(153, 204, 168, 0.8) ;
    width: auto;
    padding: 5px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid rgba(0, 128, 0, 0.8);
    z-index: 5;
    pointer-events: none;
    transition: all .15s;
    font-weight: 500;
    font-size: 20px;
    color: #EEF9BF;
}
.luz{
    border: 2px solid white;
}
.letra{
    color:cyan;
}
.corori{
    color: #EEF9BF;
}
.t7{
    max-width: 1060px;
}
.t6{
    max-width: 1056px;
}
.t5{
    max-width: 905px;
}
.t4{
    max-width: 754px;
}
.t3{
    max-width: 603px;
}
.t2{
    max-width: 452px;
}
.t1{
    max-width: 301px;
}
@media (max-width:614px){
    h1{
        font-size: 36px;
    }
}
